<ion-view title="Adjust picture">
  <ion-content scroll="false">
		<div class="item tabs tabs-secondary tabs-icon-left">
		    <a class="tab-item"  ng-click="cropCanvas()">
		      <i class="icon ion-thumbsup"></i>
		      Crop
		    </a>
		    <!-- <a class="tab-item" href="#">
		      <i class="icon ion-share"></i>
		      Rotate
		    </a> -->
		</div>
		<div class="tooltip tooltip-fixed" ng-if="notTapped">
			Tap the photo to cut your dress
		</div>
		<!-- ng-click="crop()" -->
		<div class="clipParent crop-area">
			<canvas id="cropMaker" class="crop-maker" on-touch="addTouchedCropPoint($event)"></canvas>
			<img ng-src="{{lastPhoto}}" class="imageToAdd" ng-data-polyclip="{{cropCoords}}" ng-init="init()">
		</div>

		<section class="imageSetting">
			Name
			Category
			Tags
			Color (next step)
			...
		</section>

	</ion-content>
</ion-view>